.truncate {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.random-movie {
    background-size: cover;
    background-position: center;
}
.like:hover {
    cursor: pointer;
}
